<% content_for :main do %>
<ul id='roundabout' >
   <% @views_js.each do |p| %>   
     <li>
       <section class="round" id=<%= raw "\"#{p.gsub("/","-")}\""%>>
         <div class="cls_sect"><%= render "#{p}" %></div>
       </section>
     </li>
   <% end %>
</ul>
<% end %>