<% content_for :main do %>

<script type="text/javascript">
  
  /*
  $(function(){
    <% @views_js.each do |p| %>     
      $(<%= raw "\"##{p.gsub("/","-")}\"" %>).dialog({				

        width: 540,			
	draggable: false



       });			
    <% end %>
  });
  */
</script>


<ul id='roundabout' >
   <% @views_js.each do |p| %>   
     <li>
       <section class="round" id=<%= raw "\"#{p.gsub("/","-")}\""%>>
         <%= render "#{p}" %>
       </section>
     </li>
   <% end %>
</ul>
<% end %>