<footer>
  <nav class="round">
    <ul>
      <li><%= link_make "About", about_path %></li>
      <li><%= link_make "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
      <li><a href="http://railstutorial.org/">Rails Tutorial</a></li>
    </ul>
  </nav>
</footer>